<h1>Please login</h1>

<%= button_to 'Airline login', new_ac_session_path, method: :get, class: 'btn btn-primary' %>

<br>

<%= button_to 'Customer login', new_user_session_path, method: :get, class: 'btn btn-primary' %>
